img{
    width: 200px;
    height: 200px;
    background-color: grey;
    border: none;
}

.score{
    display: flex;
}

.score div{
    padding: auto;
}

header{
    text-align: center;
    font-size: 25px;
}

header h1{
    margin: 0;
}